html {
    box-sizing: border-box;
    height: 100%;
}

*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;

}

/*Body*/
body {

    background: linear-gradient(320deg, rgba(31, 26, 26, 0.95), rgba(83, 82, 82, 1));
    display: block;
    justify-content: center;
    transition: 0.9s;
    align-items: center;

}



/**/

/*Header*/
.box {
    background: linear-gradient(320deg, rgba(3, 3, 3, 0.933), rgb(71, 70, 70));
    border: 2px solid;
    display: block;
    padding: 35px;
    width: 80%;
    margin: auto;
    margin-top: -10px;
    font-size: xx-large;
    font-style: italic;

}

/**/

/*Color Selector Part*/
.mini {

    align-items: center;
    border: 2px solid;
    display: block;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
}

/**/

/*Transform if mouse on words*/
div p {
    text-transform: uppercase;
    text-shadow: 20px;
    letter-spacing: 5px;
    border: 1px black solid;
    border-width: 5px;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 209, 26);
    font-style: oblique;
}

ul li {
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

ul li:hover {
    transform: scale(1.025);
}

ul li:active {
    transform: scale(0.9);

}

/*Border Transition*/
#tab {
    align-items: center;
    transition: 0.5s;

}

/**/

/*Selector Font and Background*/
#red {
    font-style: italic;
    color: red;
    background-color: rgb(94, 12, 12);
}


#green {
    font-style: italic;
    color: green;
    background-color: rgb(3, 75, 3);
}

#purple {
    font-style: italic;
    color: purple;
    background-color: rgb(92, 8, 92);
}

#default {
    font-style: italic;
    color: black;
    background-color: rgb(26, 26, 26);
}

/**/

/*Selector*/
body.red #tab {
    color: red;
}

body.green #tab {
    color: green;
}

body.purple #tab {
    color: purple;
}

/**/

/*background*/
body.red #tab {
    background: linear-gradient(320deg, rgb(155, 38, 38), rgb(80, 7, 7));

}

body.green #tab {
    background: linear-gradient(320deg, rgb(23, 170, 48), rgb(4, 59, 9));
}

body.purple #tab {
    background: linear-gradient(320deg, rgb(136, 25, 130), rgb(66, 5, 57));
}

body.default #tab {
    background: linear-gradient(320deg, rgba(3, 3, 3, 0.933), rgb(71, 70, 70));
}



/**/
