html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;

}

/*Body*/
body {

    background: linear-gradient(320deg, rgba(31, 26, 26, 0.95), rgba(83, 82, 82, 1));
    background-size: cover;
    display: block;
    justify-content: center;
    transition: 0.9s;
    align-items: center;

}



/**/
/*Selection Bar*/
.main {
    background-color: rgb(5, 5, 32);
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    overflow: hidden;
}

.main-left {
    float: left !important;
    height: auto;
}

.main-right {
    text-align: right;
    float: right !important;
}

/*Header*/
.box {
    background: linear-gradient(320deg, rgba(3, 3, 3, 0.933), rgb(71, 70, 70));
    border: 2px solid;
    display: block;
    padding: 35px;
    width: auto;
    font-size: xx-large;
    font-style: italic;
}


/**/

/*Color Selector Part*/
.mini {

    align-items: center;
    border: 2px solid;
    display: block;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
}

/*Left Position*/
.miniL {
    align-items: center;
    border: 2px solid;
    display: block;
    padding: 10px;
    width: 20%;
    margin-left: 32px;
    margin-top: -325px;
    position: relative;
}

/**/

/*Transform if mouse on words*/
.pr {
    text-transform: uppercase;
    text-shadow: 20px;
    letter-spacing: 5px;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 65, 46);
    font-style: oblique;
}

ul li {
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

ul li:hover {
    transform: scale(1.025);
}

ul li:active {
    transform: scale(0.9);

}

/*Border Transition*/
#tab {
    align-items: center;
    transition: 0.5s;

}

/**/

/*Selector Font and Background*/
#red {
    font-style: italic;
    color: red;
    background-color: rgb(94, 12, 12);
}


#green {
    font-style: italic;
    color: green;
    background-color: rgb(3, 75, 3);
}

#purple {
    font-style: italic;
    color: purple;
    background-color: rgb(92, 8, 92);
}

#default {
    font-style: italic;
    color: black;
    background-color: rgb(26, 26, 26);
}

/**/

/*Selector Text Color*/
body.red #tab {
    color: red;
}

body.green #tab {
    color: green;
}

body.purple #tab {
    color: purple;
}

/**/

/*Color Selector Background*/
body.red #tab {
    background: linear-gradient(320deg, rgb(155, 38, 38), rgb(80, 7, 7));

}

body.green #tab {
    background: linear-gradient(320deg, rgb(17, 122, 35), rgb(4, 59, 9));
}

body.purple #tab {
    background: linear-gradient(354deg, rgb(109, 19, 104), rgb(66, 5, 57));
}

body.default #tab {
    background: linear-gradient(320deg, rgba(3, 3, 3, 0.933), rgb(71, 70, 70));
}



/**/
