html {
    box-sizing: border-box;
    height: 100%;
}

*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;

}

body {

    background: linear-gradient(320deg, rgb(31, 26, 26), rgb(83, 82, 82));
    display: block;
    justify-content: center;
    transition: 0.9s;
    align-items: center;

}

#tab {
    align-items: center;
    transition: 0.5s;

}

.box {

    border: 2px solid;
    display: block;
    padding: 35px;
    width: 80%;
    margin: auto;
    margin-top: -10px;
    font-size: xx-large;
    font-style: italic;

}



.mini {
    align-items: center;
    border: 2px solid;
    display: block;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
}



div p {
    text-transform: uppercase;
    text-shadow: 20px;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 209, 26);
    font-style: oblique;
}

ul li {
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

ul li:hover {
    transform: scale(1.025);
}

ul li:active {
    transform: scale(0.9);
}

#red {
    font-style: italic;
    font-variant: initial;
    color: red;
    background-color: rgb(94, 12, 12);
}


#green {
    font-style: italic;
    color: green;
    background-color: rgb(3, 75, 3);
}

#purple {
    font-style: italic;
    color: purple;
    background-color: rgb(92, 8, 92);
}

#default {
    font-style: italic;
    color: black;
    background-color: rgb(26, 26, 26);
}



body.red #tab {
    color: red;
    font-style: italic;
}

body.green #tab {
    color: green;
    font-style: italic;
}

body.purple #tab {
    color: purple;
    font-style: italic;
}

body.default #tab {
    color: black;
    font-style: italic;
}
